{:deps
 {org.clojure/clojure         {:mvn/version "1.10.1"}
  org.clojure/core.async      {:mvn/version "1.1.587"}
  com.cognitect.aws/api       {:mvn/version "0.8.456"}
  com.cognitect.aws/endpoints {:mvn/version "1.1.11.783"}

  com.cognitect.aws/rds       {:mvn/version "796.2.662.0"}

  ;; for STS refresh
  com.cognitect.aws/iam       {:mvn/version "796.2.654.0"}
  com.cognitect.aws/sts       {:mvn/version "798.2.678.0"}

  ;; logging
  org.clojure/tools.logging   {:mvn/version "1.1.0"}
  log4j/log4j {:mvn/version"1.2.17"
               :exclusions [javax.mail/mail
                            javax.jms/jms
                            com.sun.jmdk/jmxtools
                            com.sun.jmx/jmxri]}

  ;; command line
  org.clojure/tools.cli       {:mvn/version "1.0.194"}
  }
 :paths ["src" "resources"]
 :aliases
 {;; clj -Aoutdated
  :outdated {:extra-deps {olical/depot {:mvn/version "RELEASE"}}
             :main-opts ["-m" "depot.outdated.main"]}

  ;; clj -A:kaocha -m kaocha.runner --config-file test/tests.edn
  :kaocha {:extra-paths ["test"]
           :extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}
                        lambdaisland/kaocha-junit-xml {:mvn/version "0.0-70"}
                        lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}}}

  ;; clj -Aclj-kondo --lint src
  :clj-kondo
  {:extra-deps {clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m" "clj-kondo.main"]}

  ;; clj -Acoverage
  :coverage {:extra-deps {cloverage {:mvn/version "RELEASE"}}
             :main-opts ["-m" "cloverage.coverage" "-p" "src"]}}}
